.EventsSection {
	position: fixed;
	right: 0;
	margin: 16px;
	padding: 16px;
	width: 400px;
	height: 85vh;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 下部に影を追加（オプショナル） */
	backdrop-filter: blur(4px); /* 背景のぼかし効果 */
	-webkit-backdrop-filter: blur(10px); /* Safari対応 */
	border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* 下部のボーダー（オプショナル） */
	background-color: rgba(255, 255, 255, 0.7);
	overflow-y: scroll;
	/*IE(Internet Explorer)・Microsoft Edgeへの対応*/
	-ms-overflow-style: none;
	/*Firefoxへの対応*/
	scrollbar-width: none;
  }
  
   /*Google Chrome、Safariへの対応*/
  .pickup::-webkit-scrollbar{
	display: none;
  }